# Sample colorsvnrc

# These are the defaults

# Don't do color if our terminal type ($TERM) is one of these.
# (List all terminal types on one line, seperated by whitespace.)
# Remark: obsolete, only for backward capability
nocolor: dumb other test

# Do color if our terminal type ($TERM) is one of these.
# (List all terminal types on one line, seperated by whitespace.)
colortty: linux console con132x25 con132x30 con132x43 con132x60 con80x25 con80x28 con80x30 con80x43 con80x50 con80x60 cons25 xterm rxvt xterm-color color-xterm vt100 dtterm color_xterm ansi screen screen.linux kon kterm gnome konsole


# The following groups of attributes may be combined for a given color:
#
# clear         black      on_black
# reset         red        on_red
# bold          green      on_green
# underline     yellow     on_yellow
# underscore    blue       on_blue
# blink         magenta    on_magenta
# reverse       cyan       on_cyan
# concealed     white      on_white

# colors for different types of status messages

P: reset
U: green
C: red
M: blue
G: blue
A: cyan
R: cyan
D: red
I: bold
?: bold black
!: red
~: red

# use bold font for directory
bolddir: true

# this is for server messages
server: green

# this is for warnings
warning: cyan

# only chosen commands
# available commands: add blame cat checkout cleanup copy delete diff export info list log mkdir move propdel propget proplist propset status update
commands: add checkout copy delete export mkdir move propdel propget status update
